<!DOCTYPE html>
<html>
<head>
    <title>豆瓣电影数据可视化</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='img/logo.png')}}">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
    {% block style %} {% endblock %}
</head>
<body>
    <div id="header">
        <div id="nav">
            <a href="{{url_for('index')}}" id="nav1">
                统计
            </a>
            <a href="{{url_for('rate')}}" id="nav2">
                评分
            </a>
            <a href="{{url_for('search')}}" id="nav3">
                搜索
            </a>
        </div>
        <h1>豆瓣电影<span style="font-family:JetLinkMediumOldStamp451548;color:#fff;position:relative;top:-1px;font-size:35px;"><span style="margin-left:10px;margin-right:5px;">数据</span>可视化</span></h1>
        <p>电影原始数据来自<a href="http://movie.douban.com/" target="_blank">豆瓣电影</a>，使用Python的<a href="http://docs.python-requests.org/zh_CN/latest/index.html" target="_blank">Requests</a>包<span class="em">爬取</span>数据、<a href="http://www.crummy.com/software/BeautifulSoup/bs4/doc/" target="_blank">BeautifulSoup</a>包完成<span class="em">解析</span>，并且进行数据的<span class="em">预处理</span>和<span class="em">清洗</span>。</p>
        <p>最终一共获取了<span class="em">4587</span>条电影记录，每条记录包含以下<span class="em">15</span>个字段：电影ID、标题、链接、缩略图、评分、导演、编剧、演员、分类、上映国家、语言、上映时间、时长、别名和简介。</p>
        <p>在此基础上，使用<a href="http://echarts.baidu.com/" target="_blank">Echarts</a>进行简单的数据可视化，从而完整地展示网络数据<span class="em">采集</span>、<span class="em">存储</span>、<span class="em">处理</span>和<span class="em">使用</span>四个环节所涉及的技术链。</p>
    </div>
    <div id="main">
        {% block body %} {% endblock %}
    </div>
    <div id="footer">
        <p>Copyright © 2017 <a href="https://github.com/alonezero" target="_blank">justZero</a>. All Rights Reserved.</p>
    </div>
</body>

<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
{% block script %} {% endblock %}

</html>
