{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/rate.css')}}">
{% endblock %}

{% block body %}
<div id="rate">
    <div id="basic"></div>
    <div id="dynamic">
        <div id="control">
            <div id="categories">
                <span class="active" name="all">全部</span>
                {% for item in categories %}
                    <span>{{item}}</span>
                {% endfor %}
            </div>
            <div id="districts">
                <span class="active" name="all">全部</span>
                {% for item in districts %}
                    <span>{{item}}</span>
                {% endfor %}
            </div>
        </div>
        <div id="plots">
            <div id="showtime"></div>
            <div id="length"></div>
        </div>
        <div style="position:relative;">
            <select style="position:absolute;right:110px;top:0px;z-index:999;height:30px;vertical-align:middle;background-color:#f3f3f3;color:#2D8EA0;border-color:rgba(97,164,177,0.6);">
                {% for item in districts %}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <div id="average"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#header #nav #nav2').addClass('active');

    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav2').addClass('active');
    });

    var movies = eval('({{movies|safe}})')['movies'];
    var rates = eval('({{rates|safe}})')['rates'];
    var showtimeData = [];
    var lengthData = [];
    for (var i = 0; i < movies.length; i++) {
        showtimeData.push([movies[i]["showtime"], movies[i]["rate"]]);
        lengthData.push([movies[i]["length"], movies[i]["rate"]]);
    }

    // 电影评分统计
    var rateChart = echarts.init(document.getElementById('basic'));
    rateChart.showLoading();
    $.get('{{url_for("static", filename="data/rate.json")}}', function(data) {
        data = eval('('+data+')');
        var rate = [];
        var rateData = [];
        for (var i=2.0;i<=10.0;i+=0.1) {
            var r = i.toFixed(1);
            rate.push(r);
            if (data[r]==undefined) rateData.push(0);
            else rateData.push(data[r]);
        }
        rateChart.hideLoading();
        rateChart.setOption({
            title: {
                text: '电影评分统计',
                x: 'center',
                padding: [15, 10, 10, 10]
            },
            tooltip: {
                trigger: 'axis',
                formatter: '{a} <br/> {b}分：{c}部'
            },
            xAxis: [{
                type: 'category',
                data: rate
            }],
            yAxis: [{
                type: 'value',
            }],
            series: [{
                name: '电影评分统计',
                type: 'line',
                showSymbol: false,
                areaStyle: {normal: {}},
                data: rateData,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            }]
        });
    });

    // 电影评分和上映年份的关系
    var showtimeChart = echarts.init(document.getElementById('showtime'));
    var showtimeOption = {
        title: {
            text: '上映时间－评分关系',
            x: "center"
        },
        tooltip: {
            trigger: 'axis',
            showDelay: 0,
            formatter: '{a} <br/> 年份-评分：{c}',
            axisPointer: {
                show: true,
                type: 'cross',
                lineStyle: {
                    type: 'dashed',
                    width: 1
                }
            }
        },
        xAxis: [{
            type: 'value',
            min: 1920,
            max: 2015
        }],
        yAxis: [{
            type: 'value',
            min: 0,
            max: 10
        }],
        series: [{
            name: '上映时间－评分',
            type: 'scatter',
            data: showtimeData,
        }]
    };
    showtimeChart.setOption(showtimeOption);

    // 电影评分和片长的关系
    var lengthChart = echarts.init(document.getElementById('length'));
    var lengthOption = {
        title: {
            text: '片长－评分关系',
            x: "center"
        },
        tooltip: {
            trigger: 'axis',
            showDelay: 0,
            formatter: '{a} <br/> 片长-评分：{c}',
            axisPointer: {
                show: true,
                type: 'cross',
                lineStyle: {
                    type: 'dashed',
                    width: 1
                }
            }
        },
        xAxis: [{
            type: 'value',
            min: 20,
            max: 300
        }],
        yAxis: [{
            type: 'value',
            min: 0,
            max: 10
        }],
        series: [{
            name: '片长－评分',
            type: 'scatter',
            data: lengthData,
        }]
    };
    lengthChart.setOption(lengthOption);

    $('#rate #categories span').click(function() {
        $('#rate #categories span').removeClass('active');
        $(this).addClass('active');
        $('#rate #districts span').removeClass('active');
        $('#rate #districts span[name="all"]').addClass('active');
        // 筛选符合要求的评分数据
        var category = $(this).text();
        if (category == '全部') {
            showtimeOption.series[0].data = showtimeData;
            lengthOption.series[0].data = lengthData;

            var showtime = echarts.init(document.getElementById('showtime'));
            showtime.setOption(showtimeOption);
           
            var length = echarts.init(document.getElementById('length'));
            length.setOption(lengthOption);
        } else {
            var temp1 = [];
            var temp2 = [];
            for (var i = 0; i < movies.length; i++) {
                if (movies[i]['category'].indexOf(category) >= 0) {
                    temp1.push([movies[i]["showtime"], movies[i]["rate"]]);
                    temp2.push([movies[i]["length"], movies[i]["rate"]]);
                }
            }
            showtimeOption.series[0].data = temp1;
            lengthOption.series[0].data = temp2;

            var showtime = echarts.init(document.getElementById('showtime'));
            showtime.setOption(showtimeOption);

            var length = echarts.init(document.getElementById('length'));
            length.setOption(lengthOption);
        }
    });

    $('#rate #districts span').click(function() {
        $('#rate #districts span').removeClass('active');
        $(this).addClass('active');
        $('#rate #categories span').removeClass('active');
        $('#rate #categories span[name="all"]').addClass('active');
        // 筛选符合要求的评分数据
        var district = $(this).text();
        if (district == '全部') {
            showtimeOption.series[0].data = showtimeData;
            lengthOption.series[0].data = lengthData;

            var showtime = echarts.init(document.getElementById('showtime'));
            showtime.setOption(showtimeOption);
    
            var length = echarts.init(document.getElementById('length'));
            length.setOption(lengthOption);
        } else {
            var temp1 = [];
            var temp2 = [];
            for (var i = 0; i < movies.length; i++) {
                if (movies[i]['district'].indexOf(district) >= 0) {
                    temp1.push([movies[i]["showtime"], movies[i]["rate"]]);
                    temp2.push([movies[i]["length"], movies[i]["rate"]]);
                }
            }
            showtimeOption.series[0].data = temp1;
            lengthOption.series[0].data = temp2;
            
            var showtime = echarts.init(document.getElementById('showtime'));
            showtime.setOption(showtimeOption);
    
            var length = echarts.init(document.getElementById('length'));
            length.setOption(lengthOption);
        }
    });

    // 各国家各类别平均评分
    var averageChart = echarts.init(document.getElementById('average'));
    var averageOption = {
        title: {
            text: '各国家各类别平均评分',
            x: 'left',
            padding: [10, 10, 10, 56]
        },
        tooltip: {
            trigger: 'item'
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            data: rates['United States of America']['categories'],
            axisLabel: {
                interval: 0 // x轴文字强制全部显示
            }
        }],
        yAxis: [{
            type: 'value',
            min: 0,
            max: 10
        }],
        series: [{
            name: '各国家各类别平均评分',
            type: 'bar',
            data: rates['United States of America']['rates'],
            markPoint: {
                data: [{
                    type: 'max',
                    name: '最大值'
                }, {
                    type: 'min',
                    name: '最小值'
                }]
            },
            markLine: {
                data: [ 
                    {type: 'average', name: '平均值'}
                ]
            }
        }]
    };
    averageChart.setOption(averageOption);

    $('#rate select').change(function() {
        var district = $(this).find('option:selected').text();
        averageOption.xAxis[0].data = rates[district]['categories'];
        averageOption.series[0].data = rates[district]['rates'];
        
        var average = echarts.init(document.getElementById('average'));
        average.setOption(averageOption);
    });
});
</script>
{% endblock %}
