{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}

{% block body %}
<div id="search">
    <div class="form-group" id="searchForm">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="输入电影标题">
            <div class="input-group-addon" id="submit"><i class="fa fa-fw fa-paper-plane-o"></i></div>
        </div>
        <p id="message">关键词都不给个怎么搜索……</p>
    </div>
    <div id="hot">
        {% for item in movies %}
        <div class="movie">
            <a href="{{item.url}}" target="_blank">
                <div class="movie_cover" style="background-image:url({{item.cover}})"></div>
            </a>
            <div class="movie_info">
                <h4>
                    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
                    <span style="color:#44A031;font-size:14px;margin-left:5px;">
                        {% if not item.showtime == -1 %}
                        {{item.showtime}}年
                        {% endif %}
                    </span>
                    <span style="color:#FB5151;font-size:14px;margin-left:5px;">{{item.rate}}分</span>
                </h4>
                <p>导演：&nbsp;{{item.director}}</p>
                <p>编剧：&nbsp;{{item.composer}}</p>
                <p>主演：&nbsp;{{item.actor}}</p>
                <p>类型：&nbsp;{{item.category}}</p>
                <p>产地：&nbsp;{{item.district}}</p>
                <p>语言：&nbsp;{{item.language}}</p>
                <p>片长：&nbsp;{{item.length}}分钟</p>
                <p>又名：&nbsp;{{item.othername}}</p>
                <h5 style="color:#555;">剧情简介</h5>
                <p style="text-indent:2em;color:#777;">
                    {% for d in item.description %} {{d}}
                    <br> {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="searchResult" style="display:none;">
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#header #nav #nav3').addClass('active');

    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav2').addClass('active');
    });

    $('#search #submit').click(function() {
        var keyword = $('#search input[name="keyword"]').val();
        if (keyword == '') {
            $('#search #message').fadeIn();
            $('#search #hot').show();
            $('#search #searchResult').hide()
        } else {
            $('#search #message').fadeOut();
            $('#search #hot').hide();
            $.ajax({
                url: '{{url_for("keyword")}}',
                type: 'POST',
                data: {
                    keyword: keyword
                },
                dataType: 'json',
                error: function() {},
                success: function(data) {
                    $('#search #searchResult').empty();
                    var  movies = data['movies'];
                    var temp = '<p style="margin-bottom:20px;">共<span style="color:#2A9662;margin-left:5px;margin-right:5px;">' + movies.length + '</span>条标题含<span style="color:#FF4949;margin-left:5px;margin-right:5px;">' + keyword + '</span>的电影</p>';
                    $('#search #searchResult').append(temp)
                    for (var i = 0; i < movies.length; i++) {
                        var item = '<div class="movie"><a href="' + movies[i]["url"] + '" target="_blank"><div class="movie_cover" style="background-image:url(' + movies[i]["cover"] + ')"></div></a><div class="movie_info"><h4><a href="' + movies[i]["url"] + '" target="_blank">' + movies[i]["title"] + '</a><span style="color:#44A031;font-size:14px;margin-left:5px;">';
                        if (movies[i]["showtime"] != 0) {
                            item = item + movies[i]["showtime"] + '年';
                        }
                        item = item + '</span><span style="color:#FB5151;font-size:14px;margin-left:5px;">' + movies[i]["rate"] + '分</span></h4><p>导演&nbsp;&nbsp;' + movies[i]["director"] + '</p><p>编剧&nbsp;&nbsp;' + movies[i]["composer"] + '</p><p>主演&nbsp;&nbsp;' + movies[i]["actor"] + '</p><p>类型&nbsp;&nbsp;' + movies[i]["category"] + '</p><p>产地&nbsp;&nbsp;' + movies[i]["district"] + '</p><p>语言&nbsp;&nbsp;' + movies[i]["language"] + '</p><p>片长&nbsp;&nbsp;' + movies[i]["length"] + '分钟</p><p>又名&nbsp;&nbsp;' + movies[i]["othername"] + '</p><h5 style="color:#555;">剧情简介</h5><p style="text-indent:2em;color:#777;">';
                        for (var j = 0; j < movies[i]['description'].length; j++) {
                            item = item + movies[i]['description'][j] + '<br/>';
                        }
                        item = item + '</p></div></div>';
                        $('#search #searchResult').append(item);
                    }
                    $('#search #searchResult').show();
                }
            });
        }
    });
});
</script>
{% endblock %}
